@charset "utf-8";
@import url('fontello.css');
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import url('normalize.css');
@import url('reset.css');
/* 숨김 콘텐츠 */
.readable-hidden, legend{  
  position: absolute;
  /* left: -9999em; */
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0,0,0,0);
}

/* 기본 스타일 */
*, *::before, *::after{
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

body{
  /* background-color: #aaa;
  background-image: url('images/bg_flower.png'),
  linear-gradient(#aaa 0%, #eee 30%, #fff 50%, #fff 100%);
  background-repeat: no-repeat;
  background-position: 50% 0; */

  background: url('images/bg_flower.png') no-repeat 50% 0,
  #aaa linear-gradient(#aaa 0%, #eee 50%, #fff 70%, #fff 100%);

  color: #181818;
  font-family: 'Spoqa Han Sans', sans-serif;
  font-size: 1.4rem;
  
}

a{
  color: inherit;
  text-decoration: none;
}

/* 플로트 이슈를 해결하기 위한 클래스 */
.clearfix::after{
  content: '';
  clear: both;
  display: block;
}

/* 레이아웃 */
.header, .visual, .main, .slogan, .footer{
  width: 940px;
  margin: 0 auto;

}

/* 헤더 */
.header{  
  background-color: #fff;
  position: relative;
  padding: 0 30px 40px;
  border-radius: 0 0 15px 15px;  
  
}

/* 로고 */
.logo{
  position:  absolute;  
  left: 65px;
  top: 48px;
  
}

/* 멤버링크 */
.member{
  float: right;
  text-transform: uppercase;  
  padding: 2px 0;
  /* background-color: yellow; */
  position: relative;
  right: -10px;

}

.member li{
 /* background-color: pink; */
 float: left;
}

.member li:nth-child(n+2):before{
  content: ':';
}

.member a{
  display: inline-block;
  /* background-color: aqua; */
  padding: 8px 10px;
}

/* 메인메뉴 */
.navigation{
  clear: both;
}
.menu{
  background-color: #ed552f;
  background-image: linear-gradient(#ea782f,#ed552f,#ed552f,#ea782f);
  border-top: 2px solid #000;
  height: 47px;
  border-radius: 0 0 5px 5px;
  padding-left: 229px;
  
  /* background; */
}
.menu-item{
  /* background-color: yellow; */
  float: left;
  position: relative;
  border-left: 2px solid white;
  padding: 0 20px;
}

.menu-item-text{
  cursor: pointer;
  display: block;
  height: 47px;
  line-height: 45px;
  color: #fff ;
  
  font-size: 1.6rem;
  font-weight: 700;
  text-shadow: 1px 0px 0 #000, 0px 1px 0 #000, -1px 0px 0 #000, 0px -1px 0 #000;
}

.menu-act .menu-item-text{
  color:#ff0;
  border-bottom: 2px solid black;
}

.sub-menu{
  position: absolute;
  top: 47px;
  white-space: nowrap;
  display: none;
}

.menu-act .sub-menu{
  display: block;
}

.sub-menu1, .sub-menu2, .sub-menu3{  
  left: 0;
}
.sub-menu4, .sub-menu5, .sub-menu6{    
  right: 0;
}

.sub-menu li, .sub-menu a{
  display: inline-block;
}

.sub-menu a{  
  padding: 8px 0 8px 10px;
  margin-right: 10px;
}

.sub-menu a::before{
  content: '\f192';
  font-family: 'fontello' ;
  width: 1em;
  margin-right: .5em;
}

.sub-menu a:hover::before{
  content: '\e800';
}

/* 비주얼 */
@keyframes bgAni{
  0%{
    opacity: 1;
  }  
  100%{
    opacity: 0;
  }
}
@keyframes textAni{
  0%{
    color: rgba(0,0,0,0);
    font-size: 12px;
    transform: translate(0,0);
  }
  100%{
    color: rgba(0,0,0,1);
    font-size: 24px;
    transform: translate(400px, 75px);
  }
}
.visual{
  height: 120px;
  position: relative;
}
.visual::before, .visual::after{
  content: '';
  width: 100%;
  height: 100%;  
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;   /*포지션이 static이 아닐때만 쓸수 있음 */
  animation: bgAni 2000ms infinite alternate;
}
.visual::before{
  background: url('images/ani_flower_01.png') no-repeat 0 -10px,
  url('images/ani_flower_02.png') no-repeat 670px 0;
    
}
.visual::after{
  background: url('images/ani_flower_03.png') no-repeat 300px 0 ,
  url('images/ani_flower_04.png') no-repeat 800px 0;
  animation-delay: 1000ms;    
}
.visual-text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  animation: textAni 3000ms forwards;
  display: inline-block;
  max-width : 540px;
   
}

/* 메인 콘텐츠 */
.main{
  background-color: white;
  border-radius: 15px 15px 0 0;
  min-height: 450px;  
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.group1{
  width: 250px;
}
.group2{
  width: 380px;
}
.group3{
  width: 190px;
}

/* 로그인 */
.login{
  border-radius: 5px;
  background: #ed552f radial-gradient(circle at right top, #ea782f, #ed552f);
  box-shadow: 5px 5px 0 0 #aaa;
  padding: 10px;
}
.login-heading{
  color: #ff0;
  font-size: 1.5rem;
  font-weight: 700;
  text-indent: 10px; /*첫줄 들여쓰기 효과 */
}
.login-form{  
  margin-top: 10px;
  background: #fff;
  border-radius: 5px 5px 0 0 ;  
  padding: 10px 10px 0 10px;    
}
.login-form fieldset{
  position: relative;
  border-bottom: 1px solid #aaa;
  padding-bottom: 10px;  /*회원가입 줄 위 띄우기*/
}
.user-pw{
  margin-top: 6px;    /*위에서 띄우기*/  
}
.login-form label{  
  display: inline-block;
  width: 4em;;
}
.login-form input{
  width: 90px;
  height: 22px;
  border: 1px solid #aaa;
  padding: 1px 1px 1px 5px;
}
.btn-login{
  position: absolute;   /* 특정값 기준으로 위치 이동*/
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: 1px solid #ed552f;
  border-radius: 3px;
  color: #fff;
  padding: 0;
  background: #ed552f;
  font-size: 1.2rem;
}
.sign{  
  background: #fff;
  padding: 7px 9px;
  border-radius: 0 0 5px 5px;    
  display: flex;  /* 요소들을 가로로 배치하고 싶을때. 부모쪽에*/
  justify-content: space-between;  /* 균등하게 분할*/
  letter-spacing: -1px;    /*글자 간격 조절*/
}

.sign .icon-right-open::before{
  color: #ed552f;
  margin: 0;
}

/* 유효성 검사 배너 */
.validation-list {      
  margin-top: 25px;
}
.validation-list a{  
  display: block;
  border: 1px solid #aaa;
  border-radius: 30px;
  background: url('images/validation_icon.png') no-repeat 10px 50%,
  #ccc linear-gradient(#ccc, #eee);
  padding: 5px 15px 5px 35px;
  margin: 10px 0;
}

/* 웹 관련 용어 */
.term{
  margin-top: 20px;
  border: 1px solid #aaa;   
  border-radius: 5px;  
  background: #ccc linear-gradient(#ccc, #eee);
  padding: 10px 15px;
  height: 150px;  
}
.term-heading{  
  font-size: 1.5rem;
  font-weight: 700;   /*글자 굵기 요소 font-weight*/
}
.term-list{    
  margin-top: 10px;   /*위쪽에 공간을 줘야할때 요소 margin-top */
}
.term-list-subject, .term-list-brief{
  float: right; /* 오른쪽으로 배치 float에 옵션 right*/
  width: 145px; /* 부모의 영역만큼 잡기 때문에 width를 줘서 size를 조절, block을 당긴 효과*/
}
.term-list-subject{    
  color: #296897;
  margin-top: -4px;
}
.term-list-thumbnail{    
  float: left;   /* float left를 주지 않으면, 그 영역 전체를 차지함. 오른쪽에 다른거를 배치못함*/ 
}

.term-list-brief{   
  margin-top: 5px;   
}

/* 검색 폼*/
.search-form{
  background: #ccc linear-gradient(#ccc, #eee);
  padding: 15px 25px 10px;
  border: 1px solid #aaa;  /*테두리 효과*/
  border-bottom-color: #fff;  /*테두리 아래 색을 흰색으로, 마치 선이 없는 효과*/
  border-radius: 15px 15px 0 0;    
}
.search-form *{                  /*  *: search form에 있는 모든 요소에 적용*/  
  vertical-align: middle;       /*상자안의 inline상자의 높이가 다를때, middle 정렬*/
}
.search-form input{
    border: 1px solid #aaa;
    border-radius: 3px;
    height: 22px;
    width: 200px;
    padding: 1px 1px 1px 5px;
    margin: 0 2px;   /*좌우에 2 pixel 여백 */
}
.btn-search{
  border: 1px solid #aaa;
  border-radius: 3px;
  color: #fff;
  background: #222;
  padding: 0 10px;
  height: 22px;
  font-size: 1.3rem;  
}

/* 공지사항 및 자료실 */
.board{
  margin-top:20px;
  position: relative;
}
.tab{  
  position: absolute;
  top: 0;
  border: 1px solid#aaa;
  border-radius: 5px 5px 0 0;
  background: #ccc linear-gradient(#ccc, #eee);
  color: #666;
  padding: 5px 10px;
}
.tab1{
  left: 0;
}
.tab2{
  left: 73px;
}
.board-act .tab{    /*공지사항 tab 부문*/
  color: #ed552f;  
  border-color: #ed552f #ed552f #fff #ed552f;
  background: #fff;
}
.board-list{
  padding-top: 45px;
}
.board-list li{
  position: relative;
  margin-bottom: 8px;
}
.board-subject{
  display: block;
  width: 295px;
  white-space: nowrap;   /*개행 금지 옵션*/
  overflow: hidden;    /*벗어난는 값을 보여주지 않음*/
  text-overflow: ellipsis;  /*white-space, overflow와 함께 사용함. 넘어가는 값을 ... 처리*/
}
.board-date{
  position: absolute;
  top: 0;
  right: 0;
}
.board-more{
  position: absolute;
  top: 0;
  right: 0;
}
.board-more::before{
  color: hsla(110, 50%, 30%, 1)
}
.board-list, .board-more{ /*, .pds-list, .board-more{*/
  display: none;
}
.board-act .board-list, .board-act .board-more{
  display: block;
}



/* 슬로건 */
.slogan{
  background-color: pink;
  height: 10vh;
}

/* 푸터 */
.footer-bg{
  background-color: purple;
  
}
.footer{
  background-color: yellow;
  height: 10vh;
}